@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&family=Jost:wght@400;500;700&family=Open+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@600;700&family=Poppins:wght@400;600&family=Raleway:wght@500;600;700;800&family=Urbanist:wght@400;900&display=swap');


:root {
    --cor-01: #f5f5f5;
    --cor-02: #7ED956;
    --cor-03: #000;
    --cor-04: #fff;
    --cor-05: #828282;
    --cor-06: #252526;
    --cor-07: #327814;
    --cor-08: #CAD2FC;
    --cor-09: #555555;
    --cor-10: #127701;
    --cor-11: #0C632A;
    --cor-12: #39884F;
    --cor-13: #EAEEED;
    --cor-24: #0D163A;
    --cor-25: #4B0082;
    --cor-26: #ff3737;
    --cor-hover: #008000;

    --font-01: 'Baloo 2', cursive;
    --font-02: 'Urbanist', sans-serif;
    --font-03: 'Poppins', sans-serif;
    --font-04: 'Jost', sans-serif;
    --font-05: 'Open Sans', sans-serif;
    --font-06: 'Raleway', sans-serif;
    --font-07: 'Plus Jakarta Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.link {
    display: flex;
    text-decoration: none;
    color: var(--cor-25);
    gap: 10px;
}

.link:hover {
   color: var(--cor-hover);
}

body {
    background-color: var(--cor-01);
    box-sizing: border-box;
}

/* .corpo {
    margin: 10px;
} */

.cabecalho {
    background-color: var(--cor-03);
    padding: 0.7% 0% 0.5% 0%;
    width: auto;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.cabecalho__menu__opcoes {
    display: flex;
    gap: 120px;
    align-items: center;
}

.cabecalho__menu__opcoes__logo {
    width: 20%;
    color: var(--cor-04);
}

.cabecalho__menu__opcoes__link {
    color: var(--cor-04);
    font-family: var(--font-01);
    font-size: 1.92rem;
    text-decoration: none;   
}

.cabecalho__menu__opcoes__link:hover {
    color: var(--cor-hover);
}

.cabecalho__menu__entrada {
    display: flex;
    gap: 30px;
    align-items: center;
    text-decoration: none;
}

.cabecalho__menu__entrada:hover {
    color: var(--cor-hover);
}

.cabecalho__menu__entrada__entre {
    display: flex;
    font-family: var(--font-01);
    font-size: 2.02rem;
    font-weight: 700;
    color: var(--cor-02);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-decoration: none;
}

.cabecalho__menu__entrada__entre:hover {
   color: var(--cor-hover);
   text-decoration: none;
}


.cabecalho__menu__entrada__cadastre {
    display: flex;
    font-family: var(--font-01);
    font-size: 2.02rem;
    font-weight: 600;
    color: var(--cor-03);
    background-color: var(--cor-02);
    border-radius: 8px;
    width: 11.25rem;
    height: fit-content;
    justify-content: center;
    text-decoration: none;
}

.cabecalho__menu__entrada__cadastre:hover {
   color: var(--cor-hover);
   text-decoration: none;
}

.dashboard {
    display: flex;
    margin: 0%;
    width: 100%;
}

.cabecalho__dashboard {
    display: flex;
    background-color: var(--cor-04);
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}

.cabecalho__dashboard__saudacao {
    font-family: var(--font-01);
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--cor-07);
}

.cabecalho__dashboard__opcoes {
    display: flex;
    gap: 5%;
}

.cabecalho__dashboard__divisoria {
    font-family: var(--font-01);
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--cor-04);
    border-radius: 20px;
    width: 8.25rem;
    height: fit-content;
}

.cabecalho__icones {
    text-decoration: none;
    color: var(--cor-25);
}

.cabecalho__icones:hover {
   color: var(--cor-hover);
}

.menu__dashboard {
    background-color: var(--cor-04);
    width: fit-content;
    height: 100%;
    gap: 30%;
    padding: 2% 0% 14% 0%;
    display: flex;
    flex-direction: column;
 }

 .menu__dashboard__criacao__recebimento {
   background-color: var(--cor-02);
   width: 90%;
   height: 35px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   border-radius: 22px;
   margin: 1% 1%;
   justify-content: center;
   font-family: var(--font-07);
 }

 .menu__dashboard__criacao__despesa {
   background-color: var(--cor-26);
   width: 90%;
   height: 35px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   border-radius: 22px;
   margin: 1% 1%;
   justify-content: center;
   font-family: var(--font-07);
 }

 .menu__dashboard__criacao__compra {
   background-color: var(--cor-05);
   width: 90%;
   height: 35px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   border-radius: 22px;
   margin: 1% 1%;
   justify-content: center;
   font-family: var(--font-07);
 }
 
 .menu__dashboard__criacao__texto {
   text-decoration: none;
   color: var(--cor-04);
 }

 .menu__dashboard__criacao__texto:hover {
   color: var(--cor-hover);
 }

.menu__dashboard__divisoria {
    font-family: var(--font-01);
    font-size: 2.02rem;
    font-weight: 400;
    color: var(--cor-03);
    background-color: var(--cor-04);
    border-radius: 8px;
    width: 15rem;
    /* height: min-content;
    display: flex; */
    align-content: center;
}

/* .cabecalho__dashboard__divisoria__icones{
    text-decoration: none;
}

.cabecalho__dashboard__divisoria__icones:hover{
    color: var(--cor-hover);
} */

.menu__dashboard__divisoria__texto {
    font-family: var(--font-07);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-25);
}

.menu__dashboard__divisoria__texto:hover {
   color: var(--cor-hover);
}

.menu__dashboard__divisoria__icones {
    justify-content: center;
    text-decoration: none;
}


.corpo__apresentacao {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.corpo__apresentacao__conteudo {
    position: absolute;
    top: 47.5%;
    left: 33%;
    transform: translate(-50%, -50%);
    padding: 200px;
}

.corpo__apresentacao__imagem {
    width: 50%;
    box-sizing: border-box;
}

.corpo__apresentacao__titulo {
    font-family: var(--font-03);
    font-weight: 600;
    color: var(--cor-03);
    display: flex;
    border-color: var(--cor-03);
    border-radius: 8px;
    border-width: 14.8rem;
    
}

.corpo__apresentacao__texto {
    font-family: var(--font-05);
    font-weight: 700;
    font-size: 5rem;
    color: var(--cor-07);
    display: flex;
    flex-wrap: wrap;
    line-height: 110%;
}

.corpo__descricao {
    display: flex;
    flex-direction: column;
}

.corpo__descricao__sobre {
    background-color: var(--cor-04);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 2% 0% 2% 0%;
}

.corpo__descricao__sobre__imagem {
    width: 20%;
}

.corpo__descricao__sobre__texto {
    font-family: var(--font-03);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-09);
    flex-wrap: wrap;
    width: 45%;
 }

.corpo__descricao__sobre__subtitulo {
    font-family: var(--font-05);
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    color: var(--cor-03);
    border: 3px solid var(--cor-08);
    border-radius: 11px;
    width: 25%;
    height: fit-content;
    justify-content: center;
 }

 .corpo__descricao__sobre__subtitulo__2 {
    font-family: var(--font-04);
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-07);
    flex-wrap: wrap;
    line-height: 110%;
 }

 .corpo__descricao__vantagens {
    display: flex;
    justify-content: center;
    padding: 2%;
 }

 .corpo__descricao__vantagens__botoes {
    font-family: var(--font-04);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor-10);
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--cor-08);
    border-color: var(--cor-02);
    width: 1096px;
    height: fit-content;
    border-radius: 25px;
    padding: 0.5% 0% 0.5% 0%;
 }

 .corpo__descricao__vantagens__botoes__conteudo {
    display: flex;    
 }

 .corpo__descricao__conquistas {
    background-color: var(--cor-02);
    display: flex;
    justify-content: center;
    padding: 3%;
 }

 .corpo__descricao__conquistas__botoes {
    font-family: var(--font-03);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-04);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50%;
 }
 
 .corpo__descricao__conquistas__botoes__conteudo__nro {
    font-weight: 700;
    font-size: 3.5rem;
 }

 .corpo__descricao__razoes {
    background-color: var(--cor-04);
    display: flex;
    justify-content: center;
    padding: 3%;
 }

 .corpo__descricao__razoes__porque {
    /* width: 540px; */
    line-height: 110%;
 }

 .corpo__descricao__razoes__subtitulo {
    font-family: var(--font-04);
    font-weight: 400;
    font-size: 3rem;
    color: var(--cor-11);
    line-height: 110%;
    width: 60%;
 }

 .corpo__descricao__razoes__boxes {
    display: flex;
    flex-direction: column;
    padding: 0%;
 }

 .corpo__descricao__razoes__execucoes {
    border: 1px solid var(--cor-02);
    width: 20%;
    justify-content: center;
    padding: 0% 0% 0% 0%;
    
 }

 .corpo__descricao__razoes__subtitulo__1 {
    font-family: var(--font-04);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-12);
 }

 .corpo__cadastro {
    background-color: var(--cor-01);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
 }

 .corpo__lateral {
    background-color: var(--cor-02);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    width: 40%;
 }

 .corpo__lateral__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 25% 20% 20% 10%;
    line-height: 520%;
 }

 .corpo__lateral__intro__titulo {
    font-family: var(--font-06);
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--cor-04);
}

 .corpo__lateral__intro__subtitulo {
    font-family: var(--font-06);
    font-weight: 700;
    font-size: 1.55rem;
    color: var(--cor-04);
 }

 .corpo__lateral__intro__texto {
    font-family: var(--font-06);
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--cor-04);
    line-height: 110%;
 }

 .corpo__lateral__dados {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-04);
    width: 60%;
    justify-items: center;
    align-items: center;
    gap: 70px;
    padding: 5% 0%;
 }

 .corpo__lateral__dados__titulo {
    font-family: var(--font-06);
    font-weight: 800;
    font-size: 3.1rem;
    color: var(--cor-02);
 }

 .corpo__lateral__dados__observacao {
    font-family: var(--font-06);
    font-size: 0.75rem;
    padding: 0%;
    color: var(--cor-26);
 }

 .corpo__lateral__cadastro {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: baseline;
 }

 .corpo__lateral__cadastro__form {
    display: flex;
    flex-direction: column;
    font-family: var(--font-06);
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-03);    
 }

 .corpo__lateral__cadastro__form__input {
    background-color: var(--cor-13);
    width: 36.6rem;
    height: 2.9rem;
    border: none;
    border-radius: 3.5rem;
    font-family: var(--font-03);
    font-size: 0.9rem;
    color: var(--cor-05);
    padding: 0% 0% 0% 3%;
 }


 .corpo__lateral__cadastro__form__botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 50%;
 }

 .corpo__lateral__cadastro__form__ed {
    display: flex;
    flex-direction: column;
    margin: 0% 0% 5% 7%;
    gap: 10px;
 }

 .corpo__lateral__cadastro__form__regras {
    font-family: var(--font-06);
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-03);
 }

 .corpo__lateral__cadastro__form__continuar {
    background-color: var(--cor-02);
    width: 30%;
    height: 2.6rem;
    border: none;
    border-radius: 3.5rem;
    font-family: var(--font-06);
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-04);
 }

 .corpo__lateral__cadastro__form__continuar__botao {
    width: 100%;
    height: 100%;
 }

 .corpo__lateral__cadastro__form__continuar:hover {
    color: var(--cor-hover);
    text-decoration: none;
 }

 .corpo__lateral__cadastro__form__reset {
    background-color: #85a377;
    width: 30%;
    height: 2.6rem;
    border: none;
    border-radius: 3.5rem;
    font-family: var(--font-06);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-04);
 }

 .corpo__lateral__cadastro__form__reset:hover {
    color: var(--cor-hover);
 }

 .dashboard__painel {
    background-color: var(--cor-04);
    border: 1px solid var(--cor-01);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
 }

 .dashboard__painel__titulo {
    font-family: var(--font-07);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor-24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
 }

 .dashboard__painel__quadros {
    font-family: var(--font-07);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 0.4%;
 }

 .dashboard__painel__contas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
 }

 .dashboard__painel__contas__ind {
    background-color: var(--cor-04);
    width: 100%;
    border: 1px solid var(--cor-02);
    border-radius: 30px;
    color: var(--cor-24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5%;
    height: fit-content;
    padding: 1%;
    box-sizing: border-box;
 }

 .dashboard__painel__contas__ind__edicao {
   width: 1%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0% 100%;
   font-size: 0.7rem;
   text-decoration: none;
   color: var(--cor-25);
 }

 .dashboard__painel__contas__ind__edicao:hover {
   color: var(--cor-hover);
 }

 .dashboard__painel__lancamentos__edicao {
   width: 1%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0% 50%;
   font-size: 0.7rem;
   text-decoration: none;
   color: var(--cor-25);
 }

 .dashboard__painel__lancamentos__edicao:hover {
   color: var(--cor-hover);
 }

 .dashboard__painel__contas__edicao {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: flex-end;
   color: var(--cor-03);
   text-decoration: none;
 }

 .dashboard__painel__contas__edicao:hover {
   color: var(--cor-hover);
 }
 
 .dashboard__painel__quadros__superior {
    display: flex;
    width: 100%;
    height: 60%;
 }

 .dashboard__painel__quadros__inferior {
    display: flex;
    gap: 1%;
    height: 50%;
 }

 .dashboard__painel__quadros__ind_1 {
    background-color: var(--cor-02);
    width:100%;
    border: 1px solid var(--cor-13);
    border-radius: 30px;
    color: var(--cor-04);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    gap: 30%;
 }

 .dashboard__painel__quadros__ind_2 {
    background-color: var(--cor-04);
    width: 33%;
    border: 1px solid var(--cor-13);
    border-radius: 30px;
    color: var(--cor-24);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5.5%;
 }

 
 .dashboard__painel__compras {
   background-color: var(--cor-04);
   width: 100%;
   border: 1px solid var(--cor-13);
   border-radius: 30px;
   color: var(--cor-24);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   margin: 0%;
}

 .dashboard__painel__quadros__ind__titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1%;
    width: 50%;
    justify-content: center;
 }

 .dashboard__painel__compras__titulo {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 1%;
   width: 10%;
   justify-content: center;
}

 .dashboard__painel__quadros__ind__texto {
    font-size: 1.9rem;
 }

 .dashboard__painel__quadros__ind__subtexto {
    padding: 0.5%;
 }

 .dashboard__painel__quadros__titulo {
    font-size: 1.9rem;
 }

 .dashboard__painel__quadros__subtitulo {
    padding: 0.5%;
 }

 .dashboard__painel__quadros__detalhes {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1px;
    text-decoration: none;
 }

  table {
    border-collapse: collapse;
    font-family: var(--font-01);
    font-size: 1.4rem;
    color: var(--cor-24);
    border: 1px solid var(--cor-08);
    padding: 8px;
 }

  td {
    padding: 0.5%;
    font-family: var(--font-04);
    font-size: 1.1rem;
    text-align: left;
    vertical-align: middle;
    border: 1px solid var(--cor-08);
 }
 
 .dashboard__painel__indice__lcto__debito {
    color: var(--cor-26);
 }

 .dashboard__painel__indice__lcto__credito {
    color: var(--cor-10);
 }

 .dashboard__painel__indice__lancamentos__origem {
    justify-items: center;
 }

 .dashboard__painel__cartoes__vencimento {
   font-size: 1rem;
   display: flex;
   align-items: center;
   width: 45%;
   justify-content: center;
 }

 .link__Saldo {
    color: var(--cor-04);
    display: flex;
    text-decoration: none;
 }

 .link__Saldo:hover {
   color: var(--cor-hover);
 }

 .link__detalhes__debito {
    color: var(--cor-26);
    text-decoration: none;
 }

 .link__detalhes__credito {
    color: var(--cor-10);
    text-decoration: none;
 }


 .conta {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   gap: 6%;
 }

 .perfil__painel {
   background-color: var(--cor-04);
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 5%;
   font-family: var(--font-06);
   font-weight: 800;
   font-size: 3.1rem;
   color: var(--cor-02);
 }

 .perfil__painel__titulo {
   padding: 0% 10%;
 }

 .perfil__painel__forms {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
 }
 
 


footer {
    background-color: var(--cor-03);
    color: var(--cor-04);
    font-family: var(--font-02);
}

.rodape {
    width: auto;
    font-family: var(--font-02);   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.rodape__superior {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 4.5% 0% 3.5% 0%;
    width: 36rem;
    align-content: center;
}

.rodape__superior__titulo {
    font-weight: 900;
    font-size: 2.5rem;
}

.rodape__superior__texto {
    font-weight: 400;
    font-size: 1.13rem;
}

.rodape__superior__email {
    background-color: var(--cor-04);
    width: 36.6rem;
    height: 2.9rem;
    border: none;
    border-radius: 3.5rem;
    font-family: var(--font-03);
    font-size: 0.9rem;
    color: var(--cor-05);
    padding: 0% 0% 0% 3%;
}

.rodape__superior__email__botao {
    background-color: var(--cor-02);
    position: absolute;
    margin: -43.5px 499px;
    width: 6.3rem;
    height: 2.6rem;
    border: none;
    border-radius: 3.5rem;
}

.rodape__superior__email__botao:hover {
    color: var(--cor-hover);
}

.rodape__inferior {
    display: flex;
    justify-content: space-between;
    gap: 43.2px;
    width: auto;
    padding: 3.5% 0%;
}

.rodape__inferior__comunidade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 37.5rem;
}

.rodape__inferior__comunidade__titulo {
    font-weight: 900;
    font-size: 1.75rem;
}

.rodape__inferior__comunidade__texto {
    font-weight: 400;
    font-size: 1.04rem;
}

.rodape__inferior__sobre {
    display: flex;
    gap: 40px;
    
}

.rodape__inferior__sobre__subtitulo {
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.rodape__inferior__sobre__texto {
    font-weight: 400;
    font-size: 1.04rem;
    padding: 0.2rem;   
}

.rodape__interno {
    background-color: var(--cor-03);
    font-family: var(--font-02);
    font-size: 0.9rem;
}

 .manutencao {
   background-color: var(--cor-02);
   display: flex;
 }

 .manutencao__texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin: 20% 0%;
   gap: 20%;
   line-height: 310%;
 }